# everything that starts with dot (hidden files)
.*
# except this file
!.gitignore
# except this file-extention
!.*.yml

# Build targets
**/target/

# logs and reports
*.csv
*.log
*.zip

# IntelliJ IDEA project files and directories
*.iml

**/pom.xml.releaseBackup
/release.properties
