<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Properties>
    <Property name="patternLayout">%level{length=1} %d{ISO8601} %c{1.} %m [%t]%n</Property>
  </Properties>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${patternLayout}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="io.scalecube.config" level="error"/>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>

</Configuration>
