<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

  <Properties>
    <Property name="patternLayout">%level{length=1} %d{ISO8601} %c{1.} %m [%t]%n</Property>
  </Properties>

  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${patternLayout}"/>
    </Console>
  </Appenders>

  <Loggers>
    <AsyncRoot level="${env:logLevel:-info}">
      <AppenderRef ref="STDOUT"/>
    </AsyncRoot>
  </Loggers>

</Configuration>
