<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Properties>
    <Property name="patternLayout">%level{length=1} %d{ISO8601} %c{1.} %m [%t]%n</Property>
  </Properties>

  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${patternLayout}"/>
    </Console>

    <RollingFile name="FILE" fileName="logs/server.log" filePattern="logs/server-%i.log">
      <PatternLayout pattern="${patternLayout}"/>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingFile>

    <Console name="JSON_STDOUT" target="SYSTEM_OUT">
      <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true">
        <KeyValuePair key="date" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSXXX}"/>
        <KeyValuePair key="service" value="configuration-service"/>
        <KeyValuePair key="ddsource" value="configuration-service"/>
        <KeyValuePair key="ddtags" value="${env:TAGS}"/>
        <KeyValuePair key="host" value="${env:NODENAME}"/>
      </JSONLayout>
    </Console>

    <RollingFile name="JSON_FILE" fileName="logs/server.log" filePattern="logs/server-%i.log">
      <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true">
        <KeyValuePair key="date" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSXXX}"/>
        <KeyValuePair key="service" value="configuration-service"/>
        <KeyValuePair key="ddsource" value="configuration-service"/>
        <KeyValuePair key="ddtags" value="${env:TAGS}"/>
        <KeyValuePair key="host" value="${env:NODENAME}"/>
      </JSONLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger name="io.scalecube.seed" level="${env:seedLogLevel:-INFO}"/>
    <Logger name="io.scalecube.services" level="${env:servicesLogLevel:-INFO}"/>
    <Logger name="io.scalecube.transport" level="${env:servicesTransportLogLevel:-DEBUG}"/>
    <Logger name="io.scalecube.cluster" level="${env:clusterLogLevel:-INFO}"/>
    <Logger name="io.scalecube.config" level="${env:configLogLevel:-INFO}"/>
    <Logger name="reactor.util" level="${env:reactorUtilLogLevel:-WARN}"/>
    <Logger name="reactor.core" level="${env:reactorCoreLogLevel:-WARN}"/>
    <Logger name="reactor.netty" level="${env:reactorNettyLogLevel:-WARN}"/>
    <Logger name="io.netty" level="${env:nettyLogLevel:-WARN}"/>
    <logger name="io.rsocket.transport.netty" level="${env:rsocketTransportNettyLogLevel:-WARN}"/>
    <logger name="io.rsocket.FrameLogger" level="${env:rsocketFrameLoggerLogLevel:-WARN}"/>
    <logger name="io.rsocket" level="${env:rsocketLogLevel:-INFO}"/>

    <Root level="${env:logLevel:-DEBUG}">
      <AppenderRef ref="${env:logAppender:-STDOUT}"/>
    </Root>
  </Loggers>

</Configuration>
