<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${patternLayout}"/>
    </Console>

    <Console name="JSON_STDOUT" target="SYSTEM_OUT">
      <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true">
        <KeyValuePair key="date" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSXXX}"/>
        <KeyValuePair key="service" value="configuration-service"/>
        <KeyValuePair key="ddsource" value="configuration-service"/>
        <KeyValuePair key="ddtags" value="${env:TAGS}"/>
        <KeyValuePair key="host" value="${env:NODENAME}"/>
      </JSONLayout>
    </Console>

    <RollingFile fileName="logs/server.log" filePattern="logs/server-%i.log" name="FILE">
      <DefaultRolloverStrategy max="1000"/>
      <PatternLayout pattern="${patternLayout}"/>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
    </RollingFile>

    <RollingFile fileName="logs/server.log" filePattern="logs/server-%i.log" name="JSON_FILE">
      <DefaultRolloverStrategy max="1000"/>
      <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true">
        <KeyValuePair key="date" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSXXX}"/>
        <KeyValuePair key="service" value="configuration-service"/>
        <KeyValuePair key="ddsource" value="configuration-service"/>
        <KeyValuePair key="ddtags" value="${env:TAGS}"/>
        <KeyValuePair key="host" value="${env:NODENAME}"/>
      </JSONLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger level="${env:seedLogLevel:-INFO}" name="io.scalecube.seed"/>
    <Logger level="${env:servicesLogLevel:-INFO}" name="io.scalecube.services"/>
    <Logger level="${env:servicesTransportLogLevel:-DEBUG}" name="io.scalecube.transport"/>
    <Logger level="${env:clusterLogLevel:-INFO}" name="io.scalecube.cluster"/>
    <Logger level="${env:configLogLevel:-INFO}" name="io.scalecube.config"/>
    <Logger level="${env:reactorUtilLogLevel:-WARN}" name="reactor.util"/>
    <Logger level="${env:reactorCoreLogLevel:-WARN}" name="reactor.core"/>
    <Logger level="${env:reactorNettyLogLevel:-WARN}" name="reactor.netty"/>
    <Logger level="${env:nettyLogLevel:-WARN}" name="io.netty"/>
    <Root level="${env:logLevel:-DEBUG}">
      <AppenderRef ref="${env:logAppender:-STDOUT}"/>
    </Root>
    <logger level="${env:rsocketTransportNettyLogLevel:-WARN}" name="io.rsocket.transport.netty"/>
    <logger level="${env:rsocketFrameLoggerLogLevel:-WARN}" name="io.rsocket.FrameLogger"/>

    <logger level="${env:rsocketLogLevel:-INFO}" name="io.rsocket"/>
  </Loggers>

  <Properties>
    <Property name="patternLayout">%level{length=1} %d{ISO8601} %c{1.} %m [%t]%n</Property>
  </Properties>

</Configuration>
